body{
    margin:0;
}

img {
    max-width: 350px;
    max-height: 350px;
}

.short-line {
    width:50%;
    margin:0,auto;
    margin-left: 0;
    
}

.footer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 25px;
    
}



.left   {
    display:flex;
    gap: 2rem;
}

.right {
    margin-right: 1rem;
}